.countryCard
{
}
.countryFlag{
  width: 300px;
  height: 300px;

  object-fit: scale-down;
}
.flexContainer
{
  display: flex; 
  justify-items: center;
  justify-content: center;
  height: 100%;
}
.FirstQuestionContainer
{
}