.SecondQuestionContainer > .flexContainer
{
  display: flex; 
  justify-items: center;
  justify-content: space-around;
  align-content: space-between;
  height: 100%;
  flex-wrap: wrap;
}
.searchTerm
{
    cursor: pointer;
}
.searchTerm:hover
{
    background-color : orangered;
}
.SecondQuestionContainer > .countryFlag{
    width: 250px;
    height: 250px;
    border : 5px solid purple;
    object-fit: cover;
}